body {
  background-color: #000;
  color: #fff; }

.demo {
  float: left;
  text-align: center;
  font-size: 12px;
  margin: 15px;
  border: 1px solid #fff;
  width: 100px;
  height: 100px;
  line-height: 20px;
  position: relative; }

.corner-triangle-field {
  height: 230px;
  overflow: auto; }

.corner-triangle-field .niljs_corner-triangle {
  position: absolute; }

.corner-triangle-field .niljs_corner-triangle-top {
  top: -10px;
  left: 90px; }

.corner-triangle-field .niljs_corner-triangle-right {
  right: -10px;
  top: 90px; }

.corner-triangle-field .niljs_corner-triangle-bottom {
  bottom: -10px; }

.corner-triangle-field .niljs_corner-triangle-left {
  left: -10px; }
