body {
  background-color: #000;
  color: #fff; }

.demo {
  float: left;
  text-align: center;
  font-size: 12px;
  margin: 15px;
  border: 1px solid #fff;
  width: 100px;
  height: 100px;
  position: relative;
  line-height: 20px;
  padding-top: 20px;
  box-sizing: border-box; }

fieldset .field-body {
  height: 315px;
  overflow: auto;
  margin: 0; }

fieldset .showcase {
  float: left;
  margin: 0 15px;
  text-align: center;
  color: rgba(255, 255, 255, 0.3); }

fieldset .block::after {
  content: '';
  display: block;
  clear: both;
  overflow: hidden;
  visibility: hidden; }

.corner-triangle-field .showcase {
  width: 30px; }
  .corner-triangle-field .showcase .showcase-icon {
    margin-left: 10px; }

.corner-triangle-field .demo-icon {
  position: absolute; }
  .corner-triangle-field .demo-icon._n91-top {
    top: -10px;
    left: 90px; }
  .corner-triangle-field .demo-icon._n91-right {
    right: -10px;
    top: 90px; }
  .corner-triangle-field .demo-icon._n91-bottom {
    bottom: -10px;
    left: 0; }
  .corner-triangle-field .demo-icon._n91-left {
    left: -10px;
    top: 0; }
