@import "../../common/custom/*.scss";
@import "../vars.scss";

$containerSize: 100px;
$boxMargin: 15px;

$top: -1 * $triangleWidth;
$left: -1 * $triangleWidth;
$bottom: -1 * $triangleWidth;
$right: -1 * $triangleWidth;

body {
  background-color: #000;
  color: #fff;
}

.demo {
  float: left;
  text-align: center;
  font-size: 12px;
  margin: $boxMargin;
  border: 1px solid #fff;
  width: $containerSize;
  height: $containerSize;
  position: relative;
  line-height: 20px;
  padding-top: 20px;
  box-sizing: border-box;
}

fieldset {
  .field-body {
    height: $containerSize * 3 + $boxMargin;
    overflow: auto;
    margin: 0;
  }

  .showcase {
    float: left;
    margin: 0 $boxMargin;
    text-align: center;
    color: rgba(255, 255, 255, 0.3);
  }

  .block {
    &::after {
      content: '';
      display: block;
      clear: both;
      overflow: hidden;
      visibility: hidden;
    }
  }
}

.corner-triangle-field {
  .showcase {
    width: $triangleWidth * 3;

    .showcase-icon {
      margin-left: $triangleWidth;
    }
  }

  .demo-icon {
    position: absolute;

    &.#{$triangleSelectorPrefix}-top {
      top: $top;
      left: $containerSize + $top;
    }

    &.#{$triangleSelectorPrefix}-right {
      right: $right;
      top: $containerSize + $top;
    }

    &.#{$triangleSelectorPrefix}-bottom {
      bottom: $bottom;
      left: 0;
    }

    &.#{$triangleSelectorPrefix}-left {
      left: $left;
      top: 0;
    }
  }
}
