// Global vars
// Selector prefix
$namespaceScope: _n9; // Get a unique prefix-string
$globalPrefix: #{$namespaceScope}0;

// Module: src\css-corner
// triangle
$triangleWidth: 10px;
$triangleColor: #fff;
$triangleSelectorPrefix: #{$namespaceScope}1;

// rotate triangle
// $rotateTriangleWidth: 10px;
$rotateTriangleSelectorPrefix: #{$namespaceScope}2;
$rotateTriangleColor: #fff;
